@page "/javascript"
<PageTitle>JavaScript</PageTitle>

<div class="d-flex justify-content-start">
    <MudButton Variant="Variant.Filled" Class="m-2" Color="Color.Primary" Href="/javascript/basics/1">Basics</MudButton>
    <MudButton Variant="Variant.Filled" Class="m-2" Color="Color.Primary" Href="/javascript/sandbox">Sandbox</MudButton>
</div>