@page "/python"
<PageTitle>Python</PageTitle>

<div class="d-flex justify-content-start">
    <MudButton Variant="Variant.Filled" Class="m-2" Color="Color.Primary" Href="/python/basics/1">Basics</MudButton>
<MudButton Variant="Variant.Filled" Class="m-2" Color="Color.Primary" Href="/python/sandbox">Sandbox</MudButton>
</div>