@page "/csharp"
<PageTitle>C#</PageTitle>

<div class="d-flex justify-content-start">
    <MudButton Variant="Variant.Filled" Class="m-2" Color="Color.Primary" Href="/csharp/basics/1">Basics</MudButton>
<MudButton Variant="Variant.Filled" Class="m-2" Color="Color.Primary" Href="/csharp/sandbox">Sandbox</MudButton>
</div>

