@page "/"

<div class="d-flex justify-content-start">
    <MudButton Variant="Variant.Filled" Class="m-2" Color="Color.Primary" Href="/csharp/">C#</MudButton>
<MudButton Variant="Variant.Filled" Class="m-2" Color="Color.Primary" Href="/python/">Python</MudButton>
<MudButton Variant="Variant.Filled" Class="m-2" Color="Color.Primary" Href="/javascript/">JavaScript</MudButton>
</div>
